* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(assests/currencyConverter.jpg);
  font-family: "Open Sans", sans-serif;
  background-size: contain;
}
p {
  color: antiquewhite;
}

.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  min-height: 60vh;
  width: 65vh;
  background-color: rgb(0, 59, 119, 0.9);
}

form {
  margin: 2rem 0 1rem 0;
}

form select,
button,
input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}

form input {
  border: 1px solid lightgray;
  font-size: 1rem;
  height: 3rem;
  padding-left: 0.5rem;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.dropdown i {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.select-container img {
  max-width: 2rem;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
}

.select-container select {
  font-size: 1rem;
  width: auto;
}

.msg {
  margin: 2rem 0 2rem 0;
  color: blanchedalmond;
  font-size: 1.7rem;
  font-style: italic;
}

form button {
  margin: 3rem 0 0 0;
  height: 5rem;
  background-color: rgba(16, 255, 255, 0.444);
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:active {
  background-color: green;
}
